<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          <h4>please enter email and passward</h4>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com"  formControlName="email">
           
            <!-- @if (email.invalid) {
              <mat-error>{{getErrorMessage()}}</mat-error>
            } -->
          </mat-form-field>
          <!-- <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" >Email is required</span> -->
          <br>
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput type="password" formControlName="password">
            <button mat-icon-button matSuffix >
              <mat-icon></mat-icon>
            </button>  </mat-form-field><br>
            <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary" >Login</button>
            <br>
          </form>
          <a style="color: #fff; margin-top:10px;" routerLink="/sign-up">Not registered?click to Register</a>
      </div>
   
    </div>
  </div>
</div>